# Project exclude paths
/.gradle/
/.idea/
/Error Correcting Encoder-Decoder/Bit-level correction code/
/Error Correcting Encoder-Decoder/Bit-level error emulator/
/Error Correcting Encoder-Decoder/Hamming error-correction code/
/Error Correcting Encoder-Decoder/Symbol-level correction code/
/Error Correcting Encoder-Decoder/task/test/
/Error Correcting Encoder-Decoder/task/build/
/Error Correcting Encoder-Decoder/task/out/
/course-info.yaml
/course-remote-info.yaml
/gradlew
/gradlew.bat
/received.txt
/send.txt
/Error Correcting Encoder-Decoder/task/received.txt
/Error Correcting Encoder-Decoder/lesson-info.yaml
